# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives

You will be able to: 

- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [2]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas  as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.read_csv('WorldCupMatches.csv')
print(df)

     Year              Datetime                     Stage  \
0    1930  13 Jul 1930 - 15:00                    Group 1
1    1930  13 Jul 1930 - 15:00                    Group 4
2    1930  14 Jul 1930 - 12:45                    Group 2
3    1930  14 Jul 1930 - 14:50                    Group 3
4    1930  15 Jul 1930 - 16:00                    Group 1
..    ...                   ...                       ...
847  2014  05 Jul 2014 - 17:00             Quarter-finals
848  2014  08 Jul 2014 - 17:00                Semi-finals
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
0                Pocitos      Montevideo          France                4
1         Parque Central      Montevideo             USA                3
2         Parque Central      Montevideo      Yugoslavia                2
3                Pocitos      Montevideo         Romania                3
4         Parque Central      Montevideo       Argentina                1
..                   ...              ...            ...              ...
847     Arena Fonte Nova        Salvador     Netherlands                0
848     Estadio Mineirao  Belo Horizonte          Brazil                1
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                         Win conditions  \
0                  1         Mexico
1                  0        Belgium
2                  1         Brazil
3                  1           Peru
4                  0         France
..               ...            ...                                    ...
847                0     Costa Rica  Netherlands win on penalties (4 - 3)
848                7        Germany
849                0      Argentina    Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina          Germany win after extra time

     Attendance  Half-time Home Goals  Half-time Away Goals  \
0        4444.0                     3                     0
1       18346.0                     2                     0
2       24059.0                     2                     0
3        2549.0                     1                     0
4       23409.0                     0                     0
..          ...                   ...                   ...
847     51179.0                     0                     0
848     58141.0                     0                     5
849     63267.0                     0                     0
850     68034.0                     0                     2
851     74738.0                     0                     0

                    Referee                  Assistant 1  \
0    LOMBARDI Domingo (URU)        CRISTOPHE Henry (BEL)
1         MACIAS Jose (ARG)     MATEUCCI Francisco (URU)
2       TEJADA Anibal (URU)      VALLARINO Ricardo (URU)
3     WARNKEN Alberto (CHI)          LANGENUS Jean (BEL)
4       REGO Gilberto (BRA)         SAUCEDO Ulises (BOL)
..                      ...                          ...
847   Ravshan IRMATOV (UZB)  RASULOV Abduxamidullo (UZB)
848   RODRIGUEZ Marco (MEX)      TORRENTERA Marvin (MEX)
849      C�neyt �AKIR (TUR)         DURAN Bahattin (TUR)
850   HAIMOUDI Djamel (ALG)         ACHIK Redouane (MAR)
851    Nicola RIZZOLI (ITA)        Renato FAVERANI (ITA)

                    Assistant 2  RoundID    MatchID Home Team Initials  \
0           REGO Gilberto (BRA)      201       1096                FRA
1         WARNKEN Alberto (CHI)      201       1090                USA
2           BALWAY Thomas (FRA)      201       1093                YUG
3      MATEUCCI Francisco (URU)      201       1098                ROU
4    RADULESCU Constantin (ROU)      201       1085                ARG
..                          ...      ...        ...                ...
847    KOCHKAROV Bakhadyr (KGZ)   255953  300186488                NED
848       QUINTERO Marcos (MEX)   255955  300186474                BRA
849           ONGUN Tarik (TUR)   255955  300186490                NED
850     ETCHIALI Abdelhak (ALG)   255957  300186502                BRA
851        Andrea STEFANI (ITA)   255959  300186501                GER

    Away Team Initials
0                  MEX
1                  BEL
2                  BRA
3                  PER
4                  FRA
..                 ...
847                CRC
848                GER
849                ARG
850                NED
851                ARG

[852 rows x 20 columns]

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [4]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Display the **last 3 rows** of the dataset.

In [7]:
 df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [9]:
# Your c
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the **number of rows and number of columns**.

In [10]:
# Your code here
df.index

RangeIndex(start=0, stop=852, step=1)

Use the appropriate attribute to get the **column names**.

In [11]:
# Your code here
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [12]:
# Your code here
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [69]:
# Your code here
df.loc[:, ["Home Team Name", "Away Team Name"]]

    Home Team Name Away Team Name
0           France         Mexico
1              USA        Belgium
2       Yugoslavia         Brazil
3          Romania           Peru
4        Argentina         France
..             ...            ...
847    Netherlands     Costa Rica
848         Brazil        Germany
849    Netherlands      Argentina
850         Brazil    Netherlands
851        Germany      Argentina

[852 rows x 2 columns]

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [31]:
# Your code here
group_3_1950 = df[(df["Year"] == 1950) & (df["Stage"] == "Group 3")]

# Display the result
print(group_3_1950)

    Year              Datetime    Stage           Stadium        City  \
56  1950  25 Jun 1950 - 15:00   Group 3          Pacaembu  Sao Paulo
61  1950  29 Jun 1950 - 15:30   Group 3  Durival de Brito   Curitiba
65  1950  02 Jul 1950 - 15:00   Group 3          Pacaembu  Sao Paulo

   Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
56         Sweden                3                2          Italy
61         Sweden                2                2       Paraguay
65          Italy                2                0       Paraguay

   Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
56                    36502.0                     2                     1
61                     7903.0                     2                     1
65                    25811.0                     1                     0

                  Referee             Assistant 1                Assistant 2  \
56        LUTZ Jean (SUI)     BERANEK Alois (AUT)        TEJADA Carlos (MEX)
61  MITCHELL Robert (SCO)       LEMESIC Leo (YUG)     GARCIA Prudencio (USA)
65     ELLIS Arthur (ENG)  GARCIA Prudencio (USA)  DE LA SALLE Charles (FRA)

    RoundID  MatchID Home Team Initials Away Team Initials
56      208     1219                SWE                ITA
61      208     1228                SWE                PAR
65      208     1218                ITA                PAR

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [30]:
# Your code here
group_3_1950_attendance = df[(df["Year"] == 1950) & (df["Stage"] == "Group 3")]["Attendance"]
group_3_1950_attendance

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [33]:
# Your code here
home_games_netherlands=df[df["Home Team Name"] == "Netherlands"]
print(len(home_games_netherlands))

32

**How many games were played by the Netherlands in total**?

In [37]:
# Your code here
total_games_played_by_netherlands=df[(df["Home Team Name"] == "Netherlands")| (df["Away Team Name"]=="Netherlands")]
len(total_games_played_by_netherlands)

54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [40]:
# Your code here
#total_games_played_by_usa-2014=df[(df["Home Team Name"] == "USA")| (df["Away Team Name"]=="USA")&(df["year"]==2014)]
usa_games_2014 = df[(df["Year"] == 2014) & ((df["Home Team Name"] == "USA") | (df["Away Team Name"] == "USA"))]
print(len(usa_games_2014))

5

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [45]:
# Your code here
#countries_1986_worldcup=df[(df["year"]==1986) & (df["Home Team Name"])|(df["Away Team Name"])] the correct version of this code is
#this countries_1986_worldcup = df[(df["Year"] == 1986) & ((df["Home Team Name"].notnull()) | (df["Away Team Name"].notnull()))]
#alterbnatively this works
game_year_1986=df[df["Year"]==1986]
home_team_1986=game_year_1986["Home Team Name"].unique()
away_team_1986=game_year_1986["Away Team Name"].unique()
total_no_countries_1986=set(home_team_1986).union (set(away_team_1986))
len(total_no_countries_1986)

24

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [47]:
# Your code here
#get home team goals 
df["Total Goals"] = df["Home Team Goals"] + df["Away Team Goals"]

# Filter for matches with 5 or more total goals
matches_with_5_goals = df[df["Total Goals"] >= 5]

# Count the number of such matches
number_of_matches_with_5_goals = len(matches_with_5_goals)

# Display the result
print(f"Number of matches with 5 or more goals: {number_of_matches_with_5_goals}")

Number of matches with 5 or more goals: 147

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [56]:
# Your code here
# Create a new column "Half-time Goals"
df["Half-time Goals"] = df["Half-time Home Goals"] + df["Half-time Away Goals"]

In [57]:
# Run this cell without changes to see your new column
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Total Goals', 'Half-time Goals'],
      dtype='object')

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [58]:
# Run this cell without changes

# Display all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [61]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
# Replace "Home Team Name" and "Away Team Name" entries that contain "Korea" with "Korea"
# Replace entries in "Home Team Name" and "Away Team Name" that contain "Korea" with "Korea"
df.loc[df["Home Team Name"].str.contains("Korea", na=False), "Home Team Name"] = "Korea"
df.loc[df["Away Team Name"].str.contains("Korea", na=False), "Away Team Name"] = "Korea"

# Replace "Home Team Initials" and "Away Team Initials" for Korea teams
df.loc[df["Home Team Initials"].isin(["KOR", "PRK"]), "Home Team Initials"] = "NSK"
df.loc[df["Away Team Initials"].isin(["KOR", "PRK"]), "Away Team Initials"] = "NSK"

Make sure to verify your answer!

In [70]:
# Check the updated coludf
df.info

<bound method DataFrame.info of      Year              Datetime                     Stage  \
0    1930  13 Jul 1930 - 15:00                    Group 1
1    1930  13 Jul 1930 - 15:00                    Group 4
2    1930  14 Jul 1930 - 12:45                    Group 2
3    1930  14 Jul 1930 - 14:50                    Group 3
4    1930  15 Jul 1930 - 16:00                    Group 1
..    ...                   ...                       ...
847  2014  05 Jul 2014 - 17:00             Quarter-finals
848  2014  08 Jul 2014 - 17:00                Semi-finals
849  2014  09 Jul 2014 - 17:00                Semi-finals
850  2014  12 Jul 2014 - 17:00   Play-off for third place
851  2014  13 Jul 2014 - 16:00                      Final

                 Stadium             City Home Team Name  Home Team Goals  \
0                Pocitos      Montevideo          France                4
1         Parque Central      Montevideo             USA                3
2         Parque Central      Montevideo      Yugoslavia                2
3                Pocitos      Montevideo         Romania                3
4         Parque Central      Montevideo       Argentina                1
..                   ...              ...            ...              ...
847     Arena Fonte Nova        Salvador     Netherlands                0
848     Estadio Mineirao  Belo Horizonte          Brazil                1
849   Arena de Sao Paulo       Sao Paulo     Netherlands                0
850     Estadio Nacional        Brasilia          Brazil                0
851  Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                         Win conditions  \
0                  1         Mexico
1                  0        Belgium
2                  1         Brazil
3                  1           Peru
4                  0         France
..               ...            ...                                    ...
847                0     Costa Rica  Netherlands win on penalties (4 - 3)
848                7        Germany
849                0      Argentina    Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina          Germany win after extra time

     ...  Half-time Away Goals                 Referee  \
0    ...                     0  LOMBARDI Domingo (URU)
1    ...                     0       MACIAS Jose (ARG)
2    ...                     0     TEJADA Anibal (URU)
3    ...                     0   WARNKEN Alberto (CHI)
4    ...                     0     REGO Gilberto (BRA)
..   ...                   ...                     ...
847  ...                     0   Ravshan IRMATOV (UZB)
848  ...                     5   RODRIGUEZ Marco (MEX)
849  ...                     0      C�neyt �AKIR (TUR)
850  ...                     2   HAIMOUDI Djamel (ALG)
851  ...                     0    Nicola RIZZOLI (ITA)

                     Assistant 1                 Assistant 2 RoundID  \
0          CRISTOPHE Henry (BEL)         REGO Gilberto (BRA)     201
1       MATEUCCI Francisco (URU)       WARNKEN Alberto (CHI)     201
2        VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)     201
3            LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)     201
4           SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)     201
..                           ...                         ...     ...
847  RASULOV Abduxamidullo (UZB)    KOCHKAROV Bakhadyr (KGZ)  255953
848      TORRENTERA Marvin (MEX)       QUINTERO Marcos (MEX)  255955
849         DURAN Bahattin (TUR)           ONGUN Tarik (TUR)  255955
850         ACHIK Redouane (MAR)     ETCHIALI Abdelhak (ALG)  255957
851        Renato FAVERANI (ITA)        Andrea STEFANI (ITA)  255959

       MatchID  Home Team Initials  Away Team Initials Total Goals  \
0         1096                 FRA                 MEX           5
1         1090                 USA                 BEL           3
2         1093                 YUG                 BRA           3
3         1098                 ROU                 PER           4
4         1085                 ARG                 FRA           1
..         ...                 ...                 ...         ...
847  300186488                 NED                 CRC           0
848  300186474                 BRA                 GER           8
849  300186490                 NED                 ARG           0
850  300186502                 BRA                 NED           3
851  300186501                 GER                 ARG           1

    Half-time Goals
0                 3
1                 2
2                 2
3                 1
4                 0
..              ...
847               0
848               5
849               0
850               2
851               0

[852 rows x 22 columns]>

## Summary

In this lab, you practiced accessing data within Pandas!